<nav class="navbar navbar-expand-lg navbar-dark dark">
    <a href="#" class="navbar-brand">UserDashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarCollapsed" aria-controls="navbarCollapsed" 
            aria-expanded="false" aria-label="Toggle Navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapsed" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#" class="nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!locAuthService.isLoggedIn()">Register</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!locAuthService.isLoggedIn()">Login</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" routerLink="/dashboard" routerLinkActive="active" *ngIf="locAuthService.isLoggedIn()">Dashboard</a>
            </li>
            <li class="nav-item">
              <button class="outline-button" type="button" (click)="logout()" *ngIf="locAuthService.isLoggedIn()">Logout</button>
            </li>
        </ul>
    </div>
</nav>