.primary-button {
    background-color: var(--secondaryBgBase);
    color: var(--secondaryText);
}

.outline-button {
    margin-left: 5%;
    border: 1px solid var(--secondaryBgLight);
    border-radius: 10%;
    color: var(--secondaryBgLight);
}

.error-message {
    margin-top: 1%;
    background-color: var(--error-red-backgorund);
    border: 1px solid var(--error-red-border);
    border-radius: 3%;
    color: var(--error-red-text);
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}