<div class="container">
    <div class="row">
        <h1 class="col-md-7">Registration</h1>
    </div>
    <div class="row">
        <form #register="ngForm" (ngSubmit)="submit()" [formGroup]="registerForm">
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control" formControlName="firstName"/>
                <div class="error-message" *ngIf="shouldBeRequiredFirstName()">
                    First name is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName"/>
                <div class="error-message" *ngIf="shouldBeRequiredLastName()">
                    Last name is required
                </div>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" formControlName="email"/>
                <div class="error-message" *ngIf="shouldBeRequiredEmail()">
                    Email address required
                </div>
                <div class="error-message" *ngIf="shouldBeValidEmail()">
                    A valid email is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" formControlName="username"/>
                <div class="error-message" *ngIf="shouldBeRequiredUsername()">
                    A username is required
                </div>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" formControlName="password"/>
                <div class="error-message" *ngIf="shouldBeRequiredPassword()">
                    A password is required
                </div>
                <div class="error-message" *ngIf="shouldHaveMinLengthPassword()">
                    The password must be 6 characters long
                </div>
                <div class="error-message" *ngIf="shouldHaveMaxLengthPassword()">
                    The password must be less than 20 characters long
                </div>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword"/>
                <div class="error-message" *ngIf="shouldBeRquiredConfirmPassword()">
                    A confirmation password is required
                </div>
                <div class="error-message" *ngIf="shouldBeMatchPassword()">
                    The password and the confirmation password did not match
                </div>
            </div>
            <button class="btn primary-button" type="submit">Submit</button>
            <a href="#" routerLink="/login" routerLinkActive="active">
                <button class="btn outline-button">Login</button>
            </a>
        </form>
    </div>
</div>
