.primary-button{
    background-color: var(--secondaryBgBase);
    color: var(--secondaryText);
}

.outline-button {
    margin-left: 5%;
    border: 1px solid var(--secondaryBgLight);
    border-radius: 10%;
    color: var(--secondaryBgLight);
}