<div class="container">
    <div class="row">
        <h3 class="col-8">User Dashboard</h3>
    </div>
    <div class="row">
        <div class="col-12 info-container">
            <div class="row" >
                <div class="col-sm-4 col-4 label odd-element first-element">First Name</div>
                <div class="col-sm-8 col-8 odd-element element first-element">{{ user.firstName }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-4 label even-element">Last Name</div>
                <div class="col-sm-8 col-8 element even-element">{{ user.lastName }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-4 label odd-element">Username</div>
                <div class="col-sm-8 col-8 element odd-element">{{ user.username }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-4 label even-element last-element">Email</div>
                <div class="col-sm-8 col-8 element even-element last-element">{{ user.email }}</div>
            </div>
        </div>
    </div>
    
</div>
